.featured-box {
    border: solid 1px #f1f2f6;
    background-color: #ffffff;
    transition: all 0.25s;

    &:hover {
        box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.1);

        >picture:after {
            opacity: 1;
        }

        h6 {
            color: $color-green;
        }
    }

    >a {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .featured-box-content {
        padding: 0 40px 40px;
    }

    >picture {
        display: block;
        height: 350px;
        margin-bottom: 40px;
        position: relative;

        img,
        a {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

        >a {
            z-index: 2;
        }

        &:after {
            background-color: rgba(13, 163, 117, 0.7);
            content: '';
            height: 100%;
            opacity: 0;
            position: absolute;
            pointer-events: none;
            transition: all 0.25s;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 4;
        }
    }

    h6 {
        margin-bottom: 4px;

        a {
            color: inherit;
            display: block;
            text-decoration: none !important;
        }
    }

    p {
        line-height: 2em;
        height: 64px;
        overflow-y: hidden;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 1140px) {
        h6 {
            height: 50px;
            overflow-y: hidden;
        }
    }

    // tablet
    @media screen and (max-width: 1023px) {
        picture {
            height: 250px;
        }
        .featured-box-content {
            padding: 0 20px 30px;
        }
    }

    // mobile
    @media #{$non-desktop} {
        margin: 0 auto 20px;

        >picture {
            height: 200px;
        }
        .featured-box-content {
            padding-left: 30px;
            padding-right: 30px;
        }
        h6 {
            height: auto;
            overflow-y: visible;
        }
        p {
            height: auto;
            overflow: visible
        }
    }
}